@import url('https://fonts.googleapis.com/css?family=Poor+Story');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  align-items: center;
  margin: 0;
  padding: 0;
  border: 0px solid yellow;
}

#counter {
	font-family: Arial;
	font-size: 68pt;
	font-weight: bold;
	position: absolute;
	top: 110px;
	width: 100%;
	max-width: 360px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px gray;
	z-index: 100;
}

.screen {
	border: 0px solid black;
	background: lightgray;
	margin: 0;
	padding: 0;
}

#app {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	border: 0px solid green;
}

#grid {
	display: block;
	width: 65px;
	height: 65px;
	margin-left: 10px;
	margin-top: 0px;
	opacity: 0.4;
	cursor: pointer;
}

#preview {
	display: block;
	width: 70px;
	height: 70px;
	margin-left: calc(100% - 80px);
	margin-top:-70px;
	box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
	border-radius: 10px;
}

.container {
	height: 320px;
	margin: 0px;
	border: 0px solid red;	
	padding: 10px;
	background: #fff;
}

.polaroid {
	margin: 10px 0 0 0px;
	background: #fff;
	padding: 0;
	width: 100%;
	max-width: 400px;
	border: 1px solid ##e1e2f0;
	border-radius: 4px;
	box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
	transition: all 0.3s ease;
}

.caption {
	font-family: 'Poor Story', cursive;
	font-size: 1.8rem;
	text-align: left;
	line-height: 2em;
	width: 400px;
	background: #fff;
	margin: 15px 0 20px 0;
	padding-bottom: 30px;
}

.caption > img {
	width: 60px;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 25px;
}

.nav {
	width: 100%;
	max-width: 360px;
	margin: 0 auto;
	border: 0px solid green;
	padding: 20px 0;
}

#number {
	border-radius: 10px;
	width: calc(100% - 20px);
	margin: 10px auto 0 auto;
}

.call-controler {
	text-align: center;
	border: 0px solid red;
	margin: auto;
	width: 250px;
}

.call-controler > img {
	width: 65px;
	float: left;
	margin: 30px 30px;
}

.call-controler > img:hover {
  opacity: 0.6;
}

.call-controler > img {
  transition: all 0.25s;
}

.label {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	margin-top: 0px;
	margin-bottom: -30px;
    width: 110px; 
    height: 20px; 
    background: yellow;
	color: black;
	padding: 5px 0 5px 10px;
	border-radius: 0px 0px 10px 0px;
	opacity: 0.7;
}

/* **************** */

.grid1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 6px;	
}
/* **************** */

.grid2 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 6px;
}
/* **************** */

.grid2_1 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;	
}
/* **************** */

.grid3 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
}
.grid3 > div:nth-child(n + 3){
	--width: 205%;
	grid-column: 1 / span 2;
}
/* **************** */

.grid3_1 {
	display: grid;
	gap: 6px;
	grid-template-columns: 1fr 1fr;
}
.grid3_1 > div:first-child {
	grid-column: 1 / span 2;
}

/* **************** */

.grid4 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
}
/* *************** */


@media screen and (orientation:landscape) and (max-width:1200px){
	#app {
		width: 100%;
		max-width: 360px;
		margin-left: 0;
		border: 0px solid green;
	}

	.nav {
		width: 100%;
		max-width: 360px;
		margin-top: -310px;
		margin-left: 360px;
		border: 0px solid green;
		padding: 20px 0;
	}
}
--// CSS Modal: https://codepen.io/iansoper/pen/npqgC
--// CSS Polaroid: https://codepen.io/neodern/pen/oKEyaw
