@import url('https://fonts.googleapis.com/css?family=Poor+Story');

body {
  font-family: 'Open Sans', sans-serif;
  background: #f9faff;
  color: #3a3c47;
  line-height: 1.6;
  align-items: center;
  margin: 0;
  padding: 0;
}

p { width: 500px; text-align: left;}

#counter {
	font-family: Arial;
	font-size: 68pt;
	font-weight: bold;
	position: absolute;
	margin-top: 130px;
	margin-left: -35px;
	width: 10px;
	color: white;
	text-shadow: 2px 2px gray;
	z-index: 100;
}

.screen {
	width: 100%;
	border: 0px solid black;
	background: lightgray;
	text-align: center;
}

#app {
	width: 100%;
	max-width: 400px;
	margin: 0px auto;
	border: 0px solid green;
}

#preview {
	display: block;
	width: 70px;
	height: 70px;
	margin-left: 310px;
	margin-top: -75px;
	box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
	border-radius: 10px;
}

.container {
	width: 100%;
	max-width: 380px;
	height: 380px;
	margin-top: 0px;
	border: 0px solid red;	
	padding: 10px;
	background: #fff;
}

.polaroid {
	margin: 10px 0 0 0px;
	background: #fff;
	padding: 0;
	width: 100%;
	max-width: 400px;
	border: 1px solid ##e1e2f0;
	border-radius: 4px;
	box-shadow: 0 0 5px 0 rgba(42, 45, 48, 0.12);
	transition: all 0.3s ease;
}

.caption {
	font-family: 'Poor Story', cursive;
	font-size: 1.8rem;
	text-align: left;
	line-height: 2em;
	width: 400px;
	background: #fff;
	margin: 15px 0 20px 0;
	padding-bottom: 30px;
}

.caption > img {
	width: 60px;
	float: left;
	margin-top: 5px;
	margin-left: 15px;
	margin-right: 25px;
}

.nav {
	width: 100%;
	max-width: 400px;
	padding: 20px 0;
	margin: 0px;
	border: 0px solid blue;	
	text-align: left;
}

#number {
	border-radius: 10px;
	width: 400px;
	margin: 40px auto 0 auto;
}

.call-controler {
	text-align: center;
	border: 0px solid red;
	margin: auto;
	width: 250px;
}

.call-controler > img {
	width: 65px;
	float: left;
	margin: 30px 30px;
}

.call-controler > img:hover {
  opacity: 0.6;
}

.call-controler > img {
  transition: all 0.25s;
}

.label {
	font-family: Arial;
	font-size: 10pt;
	font-weight: bold;
	text-align: left;
	position: absolute;
	margin-top: 0px;
    width: 110px; 
    height: 20px; 
    background: yellow;
	color: black;
	padding: 5px 0 5px 10px;
	border-radius: 0px 0px 10px 0px;
	opacity: 0.7;
}

/* **************** */

.container1 {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	gap: 10px;	
}

/* **************** */

.container2_1 {
	display: flex;
	flex-wrap: wrap;
	gap: 6px;
}

/* **************** */

.container2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;	
}

/* **************** */

.container3 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
}
.container3 > div:nth-child(n + 3){
	width: 205%;
}

/* **************** */

.container4 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 6px;
}

/* *************** */




--// CSS Modal: https://codepen.io/iansoper/pen/npqgC
--// CSS Polaroid: https://codepen.io/neodern/pen/oKEyaw
